[user]
	email = stephen.m.cabrera@gmail.com
	name = Stephen Mariano Cabrera
[color]
	ui = true
[init]
	templatedir = ~/.git_template
[push]
	default = matching
[alias]
	undo-commit = reset --soft HEAD\n
