[user]
	email = stephen.m.cabrera@gmail.com
	name = Stephen Mariano Cabrera
[color]
	ui = true
[init]
	templatedir = ~/.git_template
[push]
	default = matching
[alias]
	undo-commit = reset --soft HEAD\n
[github]
	user = smcabrera
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
